.c-item{
    height: 400px;
    background: #777;
    
}
.container-inner{
    color: white;
    
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #777;
    display: inline-block;
}
.circle-container{
    padding: 50px;
}