.c-item{
    height: 400px;
    background: #777;
    
}
.container-inner{
    color: white;
    
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #777;
    display: inline-block;
}
.circle-container{
    padding: 50px;
}
.square{
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    background: #777;
    
}
.main{
    padding-top: 50px;
    padding-bottom: 50px;
}
.back-to-top{
    text-decoration: none;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
}
.paragraph{
    color: #777;
}